PORT=4100
FRONTEND_ORIGIN=http://localhost:5174
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_SUBSCRIBE_TOPIC=latrobe/+/+/+/+
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=week7_iot
MONGODB_COLLECTION=sensor_readings
SSE_INTERVAL_MS=5000

